
.icon-resize-full:before { content: '\e800'; } /* '' */
.icon-right-big:before { content: '\e801'; } /* '' */
.icon-up-big:before { content: '\e802'; } /* '' */
.icon-left-big:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-tags:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-get-pocket:before { content: '\f265'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */